In [1]:
import os
import pandas as pd
import numpy as np
import sys
import patsy
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression, LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split, GridSearchCV, KFold
import sklearn.metrics as metrics
from sklearn.metrics import brier_score_loss, roc_curve, auc, confusion_matrix, roc_auc_score, mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from plotnine import *
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [2]:
raw_data = pd.read_csv("https://osf.io/download/3qyut/")

In [3]:
raw_data.head()

,comp_id,begin,end,COGS,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,gender,origin,nace_main,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg
0,1001034.0,2005-01-01,2005-12-31,NaN,692.592590,7266.666504,7574.074219,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
1,1001034.0,2006-01-01,2006-12-31,NaN,603.703674,13122.222656,12211.111328,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
2,1001034.0,2007-01-01,2007-12-31,NaN,425.925934,8196.295898,7800.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
3,1001034.0,2008-01-01,2008-12-31,NaN,300.000000,8485.185547,7781.481445,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,NaN
4,1001034.0,2009-01-01,2009-12-31,NaN,207.407410,5137.037109,15300.000000,0.0,0.0,0.0,...,mix,Domestic,5630.0,56.0,3.0,1,Central,1990-11-19,NaN,0.083333

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287829 entries, 0 to 287828
Data columns (total 48 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   comp_id               287829 non-null  float64
 1   begin                 287829 non-null  object
 2   end                   287829 non-null  object
 3   COGS                  18257 non-null   float64
 4   amort                 279789 non-null  float64
 5   curr_assets           287698 non-null  float64
 6   curr_liab             287698 non-null  float64
 7   extra_exp             269300 non-null  float64
 8   extra_inc             269300 non-null  float64
 9   extra_profit_loss     270626 non-null  float64
 10  finished_prod         17485 non-null   float64
 11  fixed_assets          287698 non-null  float64
 12  inc_bef_tax           280392 non-null  float64
 13  intang_assets         287689 non-null  float64
 14  inventories           287698 non-null  float64
 15  liq_assets            287698 non-null  float64
 16  material_exp          279789 non-null  float64
 17  net_dom_sales         18257 non-null   float64
 18  net_exp_sales         18257 non-null   float64
 19  personnel_exp         279789 non-null  float64
 20  profit_loss_year      277945 non-null  float64
 21  sales                 280392 non-null  float64
 22  share_eq              287698 non-null  float64
 23  subscribed_cap        287698 non-null  float64
 24  tang_assets           286359 non-null  float64
 25  wages                 17983 non-null   float64
 26  D                     0 non-null       float64
 27  balsheet_flag         287829 non-null  int64
 28  balsheet_length       287829 non-null  int64
 29  balsheet_notfullyear  287829 non-null  int64
 30  year                  287829 non-null  int64
 31  founded_year          231372 non-null  float64
 32  exit_year             38859 non-null   float64
 33  ceo_count             231402 non-null  float64
 34  foreign               231402 non-null  float64
 35  female                231402 non-null  float64
 36  birth_year            176011 non-null  float64
 37  inoffice_days         231402 non-null  float64
 38  gender                231402 non-null  object
 39  origin                231402 non-null  object
 40  nace_main             286791 non-null  float64
 41  ind2                  286791 non-null  float64
 42  ind                   278060 non-null  float64
 43  urban_m               287829 non-null  int64
 44  region_m              286989 non-null  object
 45  founded_date          287778 non-null  object
 46  exit_date             56180 non-null   object
 47  labor_avg             141297 non-null  float64
dtypes: float64(36), int64(5), object(7)
memory usage: 105.4+ MB

In [5]:
# dropping columns with many missing variables (COGS, finished_prod, net_dom_sales, net_exp_sales, wages, D)

raw_data = raw_data.drop(columns = ['COGS', 'finished_prod', 'net_dom_sales', 'net_exp_sales', 'wages', 'D'])

In [6]:
# adding age of firms

raw_data["age"] = np.where(
    raw_data["year"] - raw_data["founded_year"] < 0, 0, raw_data["year"] - raw_data["founded_year"])

In [7]:
# add all missing year and comp_id combinations -
# originally missing combinations will have NAs in all other columns
raw_data = (
    raw_data.set_index(["year", "comp_id"])
    .unstack(fill_value="toReplace")
    .stack()
    .reset_index()
)
raw_data = raw_data.replace("toReplace", np.nan)

In [8]:
# generate status_alive; if sales larger than zero and not-NA, then firm is alive
raw_data["status_alive"] = (raw_data["sales"] > 0 & (False == raw_data["sales"].isna())).astype(int)

In [9]:
# defaults in two years if there are sales in this year but no sales two years later
# Status_in_two_years: data.groupby('comp_id')['status_alive'].shift(-2)
raw_data["default"] = (
    (raw_data["status_alive"] == 1)
    & (raw_data.groupby("comp_id")["status_alive"].shift(-1) == 0)
).astype(int)

In [10]:
holdout_data = raw_data[raw_data["ind2"] == 26]
holdout_data

,year,comp_id,begin,end,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg,age,status_alive,default
156,2005,6.538183e+06,2005-01-01,2005-12-31,792.592590,6237.037109,348.148163,0.000000,0.000000,0.000000,...,26.0,2.0,2.0,East,1992-08-25,NaN,NaN,13.0,1,0
162,2005,6.934257e+06,2005-05-13,2005-12-31,803.703674,4648.147949,9311.111328,0.000000,0.000000,0.000000,...,26.0,2.0,3.0,East,2005-04-26,2010-12-09,NaN,NaN,1,1
182,2005,8.416055e+06,2005-01-01,2005-12-31,3155.555664,71070.367188,25514.814453,74.074074,0.000000,-74.074074,...,26.0,2.0,1.0,Central,1995-08-28,NaN,NaN,10.0,1,0
234,2005,1.242838e+07,2005-01-01,2005-12-31,3137.037109,1740.740723,2192.592529,0.000000,0.000000,0.000000,...,26.0,2.0,2.0,Central,1991-06-27,NaN,NaN,14.0,1,0
261,2005,1.571155e+07,2005-01-01,2005-12-31,1592.592651,4740.740723,4970.370605,0.000000,7407.407227,7407.407227,...,26.0,2.0,1.0,Central,2001-09-01,NaN,NaN,4.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556634,2016,4.580800e+11,2016-01-01,2016-12-31,3529.629639,125537.039062,0.000000,NaN,NaN,NaN,...,26.0,2.0,1.0,Central,1995-07-02,NaN,0.166667,21.0,1,0
556683,2016,4.591262e+11,2016-01-01,2016-12-31,4011.111084,58948.148438,30874.074219,NaN,NaN,NaN,...,26.0,2.0,3.0,East,1994-12-14,NaN,0.125000,22.0,1,0
556789,2016,4.610112e+11,2016-01-01,2016-12-31,148.148148,67448.148438,5059.259277,NaN,NaN,NaN,...,26.0,2.0,3.0,Central,1997-12-10,NaN,0.250000,19.0,1,0
556842,2016,4.620594e+11,2016-01-01,2016-12-31,559.259277,64011.109375,8662.962891,NaN,NaN,NaN,...,26.0,2.0,1.0,Central,1996-12-30,NaN,0.118056,20.0,1,0
556879,2016,4.628231e+11,2016-01-01,2016-12-31,5362.962891,59570.371094,41681.480469,NaN,NaN,NaN,...,26.0,2.0,1.0,Central,2009-12-06,NaN,0.555556,7.0,1,0

In [11]:
# look at cross section
holdout_data = holdout_data.query("year==2014 & status_alive == 1")
# look at firms below 10m euro revenues and above 1000 euros
holdout_data = holdout_data.query("sales<=10000000 & sales>=1000")
holdout_data

,year,comp_id,begin,end,amort,curr_assets,curr_liab,extra_exp,extra_inc,extra_profit_loss,...,ind2,ind,urban_m,region_m,founded_date,exit_date,labor_avg,age,status_alive,default
417864,2014,6.538183e+06,2014-01-01,2014-12-31,1018.518494,17022.222656,3040.740723,0.0,0.0,0.0,...,26.0,2.0,2.0,East,1992-08-25,NaN,NaN,22.0,1,0
417890,2014,8.416055e+06,2014-01-01,2014-12-31,425.925934,105740.742188,6918.518555,0.0,0.0,0.0,...,26.0,2.0,1.0,Central,1995-08-28,NaN,0.083333,19.0,1,0
417942,2014,1.242838e+07,2014-01-01,2014-12-31,0.000000,0.000000,9277.777344,0.0,0.0,0.0,...,26.0,2.0,2.0,Central,1991-06-27,NaN,0.083333,23.0,1,0
417989,2014,1.777654e+07,2014-01-01,2014-12-31,48.148148,142296.296875,164237.031250,0.0,0.0,0.0,...,26.0,2.0,1.0,Central,1997-07-01,NaN,0.305556,17.0,1,0
417994,2014,1.862676e+07,2014-01-01,2014-12-31,5755.555664,95185.187500,45766.667969,0.0,0.0,0.0,...,26.0,2.0,2.0,West,2010-11-15,NaN,0.159091,4.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463875,2014,4.593723e+11,2014-01-01,2014-12-31,0.000000,40740.742188,559.259277,0.0,0.0,0.0,...,26.0,2.0,2.0,East,1993-08-06,NaN,0.083333,21.0,1,0
463965,2014,4.610112e+11,2014-01-01,2014-12-31,429.629639,58781.480469,2651.851807,0.0,0.0,0.0,...,26.0,2.0,3.0,Central,1997-12-10,NaN,0.166667,17.0,1,0
464018,2014,4.620594e+11,2014-01-01,2014-12-31,1111.111084,68274.070312,16211.111328,0.0,0.0,0.0,...,26.0,2.0,1.0,Central,1996-12-30,NaN,0.250000,18.0,1,0
464032,2014,4.623300e+11,2014-01-01,2014-12-31,0.000000,17192.591797,7325.925781,0.0,0.0,0.0,...,26.0,2.0,2.0,East,2010-12-15,NaN,0.166667,4.0,1,0
464055,2014,4.628231e+11,2014-01-01,2014-12-31,2581.481445,70059.257812,74911.109375,0.0,0.0,0.0,...,26.0,2.0,1.0,Central,2009-12-06,NaN,0.486111,5.0,1,0

In [12]:
holdout_data.sales.describe()

count    1.037000e+03
mean     4.902022e+05
std      1.154087e+06
min      1.070370e+03
25%      2.176667e+04
50%      7.270000e+04
75%      3.338889e+05
max      9.576485e+06
Name: sales, dtype: float64

In [13]:
holdout_data.default.value_counts()

default
0    981
1     56
Name: count, dtype: int64

The holdout_data now contains the right dataset (1037 observations, 56 defaults, correct sales figures).

# Modeling

For modeling, logistics regression and probability forest methods will be used. On top of the different methods, different training datasets will be used to create the most accurate model that performs the best as measured by the loss function on the holdout set.